body {
    display:flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding:10px;
    font-size: 24px;
    font-weight:900;
    display:flex;
}

.right-links {
    margin-left:auto;
    display: flex;
    gap:25px;
    font-weight: 300;

    text-decoration: none;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: #E5E7EB;
}

.intro {
    background-color: #3d516e;
    display:flex;
}

.intro-text{
    display:flex;
    flex-direction:column;
    max-width: 600px;
    gap:20px;
    padding:30px;
    color:#E5E7EB;
}

.big-hi {
    font-size: 48px;
    color: #F9FAF8;
}

.bio {
    font-size:36px;
}

.CV {
    width:80px;
    padding:10px;
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 20px;
}

.intro img {
    margin-left:auto;
}

.projects {
    background-color: azure;
}




