body {
    display:flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding:10px;
    font-size: 24px;
    font-weight:900;
    display:flex;
}

.right-links {
    margin-left:auto;
    display: flex;
    gap:25px;
    font-weight: 300;

    text-decoration: none;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: #F9FAF8;
}

.intro {
    background-color: #3d516e;
    display:flex;
}

.intro-text{
    display:flex;
    flex-direction:column;
}

.big-hi {
    font-size: 48px;
}

.bio {
    font-size:36px;
}



