body {
    display:flex;
    flex-direction: column;
    margin:0;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding:10px;
    font-size: 24px;
    display:flex;
}

.right-links {
    margin-left:auto;
    display: flex;
    gap:25px;
    font-weight: 300;
    text-decoration: none;
}

a {
    list-style-type: none;
    text-decoration: none;
}

.header a {
    color: #E5E7EB;
}

.intro {
    background-color: #3d516e;
    padding:30px;
    display:flex;
    flex: 1 1 auto;
}

.intro-text{
    display:flex;
    flex-direction:column;
    max-width: 600px;
    gap:20px;
    color:#E5E7EB;
}

.big-hi {
    font-size: 48px;
}

#waving-emoji {
    width:50px;
    height:auto;
}

.bio {
    font-size:36px;
}

.CV {
    width:80px;
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 20px;
}

button {
    /*makes the button rounded*/
    border-radius: 15px;
    padding: 12px;
}

.intro img {
    margin-left:auto;
}

.projects-languages{
    background-color: azure;
    padding:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
}

.projects-main-heading, .langs-heading, .experience-main-heading {
    font-size: 36px;
    margin: 24px;
}

.projects-info, .langs-info, .experience-info {
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap:80px;
}

.project-item, .experience-item {
    display: flex;
    gap:20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.project-item-heading, .experience-item-heading{
    font-size: 28px;
}

.project-item a{
    color:black;
}

.project-item img, .experience-item img {
    border-color:#1F2937;
    border-radius: 20px;
    border-width:5px ;
    border-style: solid;
    flex: 1 1 auto;
}

.project-item img {
    height: auto;
    width:300px;
}

.experience-item img {
    height:auto;
    width:400px;
}

.langs-info img {
    height:auto;
    width: 130px;
}

.experience {
    background-color: #3882F6;
    display: flex;
    flex-direction: column;
    padding:30px;
    align-items: center;
    color:#E5E7EB;
    flex: 1 1 auto;
}

.experience-item-date {
    font-size: 18px;
}

.contact {
    background-color: aquamarine;
    display:flex;
    padding:10px;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.contact-left-message {
    display: flex;
    flex-direction: column;
    gap:20px;
    max-width: 400px;
    margin:30px;
}

.get-in-touch {
    font-size: 64px;
    font-weight:400;
}

.contact-short-sentence {
    font-size: 20px;
}

.contact-form-box {
    margin-left:auto;
    background-color: aliceblue;
    padding:36px;
    border-radius: 8px;
    border-style: solid;
    border-width: 10px;
    border-color: #3882F6;
    width:500px;
    height:500px;
    flex:1;
    display:flex;
    flex-direction: column;
}

.contact-form-title {
    text-align: center;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.inner-contact-form {
    background-color: #3882F6;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:60px;
    flex:1;
}

.inner-contact-form input{
    flex:1;
    border-radius: 15px;
}

.name-field, .email-field {
    max-width: 400px;
}

.inner-contact-form .msg-field {
    flex:3;
    max-width: 800px;
}

.inner-contact-form button{
    max-width: 100px;
    background-color: green;
    color:white
}

.footer {
    margin-top:auto;
    background-color: #1F2937;
    text-align: center;
    font-size: 18px;
    color:#F9FAF8;
    flex: 1 1 auto;
    padding:15px;
}